@use '../../styles/variables' as col;
@use '../../styles/fonts' as font;
@use '../../styles/mixins' as mixin;

.cart {
  min-height: inherit;
  top: 72.23px;
  left: 17px;
  display: flex;
  justify-content: flex-end;
  background-color: pink;

  button {
    background-color: col.$brown;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
}
