@use '../../styles/variables' as col; 
@use '../../styles/fonts' as font; 
@use '../../styles/mixins' as mixins;
@use '../../styles/global.scss' as global; 


.app{
    background-color: pink;


}
button {
  background-color: col.$brown;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
