
.cart {
    position: fixed;
    width: 100%;
    height: 100%;
    width: 341px;
    height: 565.77px;
    top: 72.23px;
    left: 17px;
    border-radius: 2px;
}

.cart__heading {
    width: 100%;
    height: 34px;
    margin-top: 40.77px;
    display: flex;
    justify-content: center;
}

