@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.order-history {
  h1,
  h2,
  h3 {
    font-family: $ptSerif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-top: 14px;
  }

  h2 {
    color: #ffff;
    font-size: 22px;
    margin-top: 80px;
    font-family: $workSans;
    margin-top: 50px;
  }

  h3 {
    font-family: $workSans;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }

  p {
    font-family: $workSans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
  }

  &__info {
    font-size: 1rem !important;
    margin-top: 0.2rem !important;
    margin-bottom: 2rem !important;
  }

  &__profile {
    @include center;
    flex-direction: column;
    margin-top: 50px;
    color: #ffff;
    gap: 7px;
  }

  &__orders-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
    gap: 3px;
  }

  &__summary {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-top: 0;
    }
  }


}
