.logo {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 50%;

  &__svg {
    overflow: visible;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}
