@use '../../styles/mixins' as *;
@use '../../styles//variables' as *;
@use '../../styles//fonts' as *;

.status {
  span {
    font-weight: bold;
  }

  h1 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
  }

  @include center;
  flex-direction: column;
  justify-content: space-between;
  background-color: $orange;
  color: #ffffff;
  min-height: inherit;
  padding: 35px;

  &__paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-top: 80px;
  }

  &__section {
    @include center;
    flex-direction: column;
    text-align: center;

    p {
      margin-top: 1rem;
    }
  }

  &__button {
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    width: 184px;
    height: 55px;
    color: $brown;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 80px;
    cursor: pointer;
  }
}
