@import "../../styles/mixins";
@import "../../styles//variables";
@import "../../styles//fonts";

span {
  font-weight: bold;
}

h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.status {
  @include center;
  flex-direction: column;
  justify-content: space-between;
  background-color: $orange;
  height: 667px;
  color: #ffffff;
  padding: 30px;
}

.status__paragraph {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.status__section {
  @include center;
  flex-direction: column;
  text-align: center;
}

.status__drone {
  @include center;
  flex-direction: column;
}

.status_cup {
  position: absolute;
  margin-top: 6rem;
}

.status__button {
  background-color: #ffffff;
  border-radius: 50px;
  border: none;
  width: 184px;
  height: 55px;
  color: $brown;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 80px;
  cursor: pointer;
}
