@import '../../styles/mixins';
@import '../../styles//variables';
@import '../../styles//fonts';

.about {
  @include center;
  flex-direction: column;
  background-color: $pink;

  p {
    font-family: $workSans;
  }

  h1,
  h2 {
    font-family: $ptSerif;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  text-align: start;
  color: $brown;
}

.about__paragraph {
  color: #000000;
  font-weight: bold;
  opacity: 0.8;
}

.about__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer__portrait {
  border-radius: 50%;
}

.footer__img {
  transform: translateY(3rem) rotate(180deg);
  overflow: hidden;
  object-fit: contain;
}

.footer__section {
  overflow: hidden;
}

.footer__paragrah {
  font-size: 13px;
  line-height: 19.2px;
}
