@use '../../styles/mixins' as *;
@use '../../styles//fonts' as *;

.nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 500;
  color: #ffffff;

  h1 {
    font-family: $ptSerif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }

  button {
    background: none;
    cursor: pointer;
    border: none;
  }


  &__close {
    padding: 20px;
  }

  &__icon {
    padding: 20px;
  }

  &__underline {
    width: 48px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
  }

  &__container {
    @include center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    width: inherit;
    min-height: 100vh;
  }
}
